*{
    width: 100px;
    padding: 0;

}
body{
    background-color: red;
    background: url(https://media.wired.com/photos/6423826d7f6ce88e606d7b55/1:1/w_1800,h_1800,c_limit/Lamborghini-Revuelto-Featured-Gear.jpg);
    background-repeat: no-repeat ;
    background-position: center;
}
  

p{
    line-height: 100px;
    letter-spacing:5px;
    color:blue ;
}
 
h1{
    line-height: 1oopx;
}